:root {
  --gray: '#858585';
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.link-text {
  color: var(--gray);
  text-decoration: none;
  font-size: 1.4rem;
  transition: text-decoration 0.2s ease;
  font-weight: 500;
}

.link-text:hover {
  text-decoration: underline;
}
