:root {
  --gray: #858585;
  --primary: #fda214;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-text {
  color: var(--gray);
  font-size: 1.4rem;
  color: var(--primary);
  font-weight: 500;
}

.MuiTooltip-tooltip {
  background-color: transparent !important;
}

.user-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.user-link:hover {
  text-decoration: underline;
  color: var(--primary);
}
